@media (min-width: 651px){
  .headerbg{
    background-position: center;
  }
}
@media only screen and (max-width: 650px){
  .headerbg{
  background-position: center;
   background-image: url(../img/bgsmall\ .png);
}}
@media (max-width: 1030px){
  .footericons{
  display: none;}
  .footerdiv{
  padding-bottom: 77px;
}
}
@media (max-width: 768px) {
  .burgerbar {
    display: block;
  }
  .navigation {
    display: none;
  }
  .navigation.activeNav{
    display: block;
  }
  .flexheader{
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
       -ms-flex-direction: column;
           flex-direction: column;
   -webkit-box-align: baseline;
       -ms-flex-align: baseline;
           align-items: baseline;
  }
  .ulheader{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

  }
  .map{
    display: none;
  }
  .imgnatali{
    height: 200px;
    -webkit-animation: natalizoom 8s infinite;
            animation: natalizoom 8s infinite;
 }
 @-webkit-keyframes natalizoom{
  0%{-webkit-transform: translate(220px, 0px) scale(1,1);transform: translate(220px, 0px) scale(1,1)}
  50%{-webkit-transform: translate(220px, 0px) scale(1.5, 1.5);transform: translate(220px, 0px) scale(1.5, 1.5) }
 100%{-webkit-transform: translate(220px, 0px)scale(1,1);transform: translate(220px, 0px)scale(1,1) }
 }
 @keyframes natalizoom{
  0%{-webkit-transform: translate(220px, 0px) scale(1,1);transform: translate(220px, 0px) scale(1,1)}
  50%{-webkit-transform: translate(220px, 0px) scale(1.5, 1.5);transform: translate(220px, 0px) scale(1.5, 1.5) }
 100%{-webkit-transform: translate(220px, 0px)scale(1,1);transform: translate(220px, 0px)scale(1,1) }
 }
 .imgcupcake{
  height: 100px;
  -webkit-animation: move 8s infinite;
          animation: move 8s infinite;
 }
 @-webkit-keyframes move{
  0%{-webkit-transform: translate(0px, 30px) rotate(0deg);transform: translate(0px, 30px) rotate(0deg)}
  50%{-webkit-transform: translate(20px, 20px)rotate(0deg);transform: translate(40px, 20px)rotate(0deg)}
 100%{-webkit-transform: translate(0px, 0px)rotate(60deg);transform: translate(10px, 0px)rotate(60deg)}
 }
 @keyframes move{
  0%{-webkit-transform: translate(0px, 30px) rotate(0deg);transform: translate(0px, 30px) rotate(0deg)}
  50%{-webkit-transform: translate(20px, 20px)rotate(0deg);transform: translate(40px, 20px)rotate(0deg)}
 100%{-webkit-transform: translate(0px, 0px)rotate(60deg);transform: translate(10px, 0px)rotate(60deg)}
 }

}
@media(min-width: 320px) and (max-width:768px) {
  .footerdiv{
    height: auto;
  }
  .footerdiv1{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .headerbg{
    background-color: #dac8c8;
  }
  .text{
    height: auto;
    width: auto;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: center;
  }
  .aboutmetext{
    height: auto;
    max-width: 315px;
  }

}
@media(min-width: 769px) and (max-width:1024px) {
  .footerdiv{
    height: auto;
  }
  .footerdiv1{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

}
@media (max-width: 510px){
  .aboutmetext{
    height: auto;
    margin: -275px 0 0 -175px;
  }
}
@media(max-width: 320px) {
  .footerdiv{
    height: auto;}
  .text{
   height: auto;
   width: auto;
   -ms-flex-wrap: wrap;
       flex-wrap: wrap;
   text-align: center;
    }
    .aboutmetext{
      height: auto;
      max-width:  310px;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      text-align: center;
      padding-top: 80px;
      padding-bottom: 90px;
    }

  }
  